@font-face {
    font-family: 'ArialNew';
    src: url('../fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialNew-bold';
    src: url('../fonts/arialbd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
