.table__header::after {
  right: -15px;
}

.table {
  margin-bottom: 0;
}

#addModal .form-group:not(:last-of-type) {
  margin-bottom: 20px;
}

.invalid-feedback {
  display: block;
}

.table-wrapper {
  .table-container,
  .table-footer {
    opacity: 1;
    visibility: visible;
  }
}

.table-container {
  margin-bottom: 0;
}

.disabled {
  opacity: 0.65;
  cursor: default;
  pointer-events: none;
}

.table-state-block__preloader {
  height: auto;
}

.table-state-block__preloader.spinner-fade-in {
  visibility: visible;
  opacity: 1;
}

$green-select: #62da97;

.multiselect__tag {
  background-color: $green-select;

  &-icon {
    &:hover {
      background-color: darken($green-select, 13%);
    }

    &::after {
      color: darken($green-select, 35%);
    }
  }
}

.multiselect__option--highlight {
  background-color: $green-select;

  &::after {
    background-color: $green-select;
  }
}

$red-select: #f55f5f;

.multiselect__option--selected.multiselect__option--highlight {
  background-color: $red-select;

  &::after {
    background-color: $red-select;
  }
}

.deactivate-user {
  cursor: default;
}

.router-link-active:hover {
  text-decoration: none;
}

.deep-menu__block__profile {
  position: absolute !important;
}

.central-billing__item {
  cursor: pointer;
}

.header__menu {
  max-width: fit-content;
}

.breadcrumbs__link.active {
  color: var(--ford-orange) !important;
}

.current-system__block {
  border: none;
  outline: none;
  cursor: pointer;
}

#app.blurred main {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

#product-list .filter-block {
  grid-template-rows: max-content;

  &__element {
    margin-top: 0;
    margin-bottom: 10px;

    &:last-of-type {
      margin-top: 20px;

      button {
        margin-bottom: 5px;
      }
    }

    &__title {
      margin-bottom: 7px;

      i {
        transition: transform 0.2s ease-in-out;
      }
    }

    &__wrapper__content {
      margin: 0 !important;

      &__reset {
        position: static;
        max-height: 30px;
        margin-bottom: 10px;
        overflow: hidden;
        transition: all 2s ease-out;
      }

      &__need-more {
        margin: 3px 0;
      }

      &__more-items {
        max-height: 400px;
        overflow: hidden;
        transition: all 0.5s ease-out;
      }
    }
  }
}

.custom-control-input:checked:disabled ~ .custom-control-label::before {
  border-color: var(--ford-gray-shadow) !important;
  background-color: var(--ford-gray-shadow) !important;
  opacity: 0.5;
}

.btn-primary-ford-orange,
button[type='reset'] {
  transition: 0.3s ease-in-out;
  transition-property: background-color, border-color, opacity;
}
