#product-list {
  margin-bottom: 50px;
  min-height: calc(100vh - 150px);

  .top-block {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    &__title__text {
      color: var(--ford-gray-shadow);
      font-family: 'ArialNew-bold', sans-serif;
      line-height: initial;
      margin-bottom: 0;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 243px 1fr;
    grid-column-gap: 21px;
  }

  .filter-block {
    display: grid;
    grid-row-gap: 25px;
    grid-template-rows: 122px max-content;

    .amount {
      font-size: 12px;
      opacity: 0.7;
    }

    label,
    .form-control {
      font-size: 14px;
    }

    &__item {
      background-color: #f3f3f3;
      padding: 22px 20px 25px 25px;
      position: relative;
    }

    &__title {
      color: #373a3c;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    &__element {
      display: grid;
      margin: 15px 0;

      &__wrapper {
        position: relative;
        overflow: hidden;
        padding: 0 2px;

        &__content {
          margin: 0;
          opacity: 0;
          height: 0;
          transition: 0.3s ease-in-out;
          transition-property: height, opacity, margin;

          .custom-control {
            margin-top: 5px 0;
          }

          .custom-control-label {
            &::before,
            &::after {
              top: 0.1rem;
            }
          }

          &__need-more span,
          &__reset span {
            font-size: 14px;
            opacity: 0.8;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px dotted;
          }

          &__reset {
            position: absolute;
            top: -5px;
            left: 0;

            span {
              font-size: 12px;
            }
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &__title {
        position: relative;
        font-size: 16px;
        font-family: 'ArialNew-bold', sans-serif;
        color: var(--ford-gray-shadow);
        line-height: 24px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;

        i {
          transform: rotate(0);
          transition: transform 0.3s ease-in-out;
        }
      }

      &__select-block {
        display: grid;
        grid-template-columns: 1fr 100px;
        align-items: center;

        &:not(:last-of-type) {
          margin-bottom: 11px;
        }

        &__title {
          margin-right: 25px;
          color: var(--ford-gray-shadow);
          font-family: 'ArialNew', sans-serif;
          font-size: 14px;
          line-height: 24px;
        }
      }

      &_active {
        .filter-block__element__title i {
          transform: rotate(180deg);
        }

        .filter-block__element__wrapper__content {
          height: max-content;
          margin: 20px 0;
          opacity: 1;
        }
      }

      button {
        justify-self: center;
        width: 150px;
        justify-content: center;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }

    .input-group-text {
      background-color: #fff;
      border-color: #ddd;
      border-left-color: #fff;
      padding: 0.375rem 0.3rem;
      cursor: default;
      user-select: none;

      i {
        color: #929292;
        font-size: 18px;
      }
    }

    input.form-control {
      border-right-color: transparent;
    }
  }

  .items-block {
    margin-bottom: 30px;

    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    .prognosis label {
      color: #373a3c;
      font-family: 'ArialNew-bold', sans-serif;
    }

    .sort {
      display: flex;

      &__link {
        color: #929292;
        display: flex;
        align-items: center;
        margin-right: 25px;
        position: relative;
        transition: color 0.2s ease-in-out;

        &:hover,
        &_active {
          color: var(--ford-gray-shadow);
          text-decoration: none;
        }

        &_asc {
          &::after {
            content: '';
            position: absolute;
            right: -11px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid var(--ford-gray-shadow);
          }
        }

        &_desc {
          &::after {
            content: '';
            position: absolute;
            right: -11px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 5px solid var(--ford-gray-shadow);
          }
        }
      }
    }
  }

  .product-element {
    display: grid;
    grid-template-columns: minmax(200px, 550px) 1fr auto;
    grid-column-gap: 30px;
    padding: 30px 50px 30px 37px;
    border: 1px solid #f3f3f3;
    margin-top: 20px;

    &__link {
      display: grid;
      grid-template-columns: 130px 1fr;
      grid-column-gap: 15px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &__image-block {
      width: 100%;
      height: 105px;

      &__image {
        width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &__info {
      line-height: 18px;

      > p {
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &__title {
        font-family: 'ArialNew-bold', sans-serif;
        color: #373a3c;
      }

      &__article {
        color: #929292;
      }

      &__description {
        color: #707070;
      }
    }

    &__price {
      display: grid;
      grid-row-gap: 15px;
      grid-auto-rows: min-content;
      justify-self: center;
    }

    &__price-info {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      grid-column-gap: 45px;
      color: #373a3c;
      line-height: 18px;

      &__total {
        &.bold {
          font-family: 'ArialNew-bold', sans-serif;
        }
      }
    }

    &__buy {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__amount {
      display: flex;
      align-items: center;
      margin: 0 15px 15.7px 0;

      &__value {
        margin-right: 10px;
        font-family: 'ArialNew-bold', sans-serif;
        color: #373a3c;
        width: 50px;
        text-align: right;
        border-color: transparent;
      }

      .arrow-block {
        display: inline-grid;
        grid-row-gap: 7px;

        &__top,
        &__bottom {
          background-color: transparent;
          border-color: transparent;
          display: flex;
          cursor: pointer;

          svg {
            fill: #929292;
            transition: fill 0.2s ease-in-out;
          }

          &:hover {
            svg {
              fill: var(--ford-gray-shadow);
            }
          }

          &:focus {
            outline: none;
          }

          &[disabled] {
          }
        }
      }
    }
  }

  .amount-block {
    color: #929292;
    position: relative;
    top: 5px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }

  .pagination {
    grid-column-start: 2;
    align-items: center;
    justify-content: space-between;
  }
}

.filter-modal {
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  background-color: #4d616e;
  color: #fff;
  z-index: 2;
  left: 16px;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0 5px 5px 0;

  &.active {
    opacity: 1;
  }

  &::after {
    content: '';
    position: absolute;
    height: 9px;
    width: 7px;
    top: 0;
    left: -35px;
    border: 19px solid transparent;
    border-right: 16px solid var(--ford-gray-shadow);
  }

  button {
    color: #fff;
    transition: color 0.2s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      color: #dadada;
    }
  }
}
