.fade-enter-active {
  transition: all 0.2s ease-out !important;
}

.fade-leave-active {
  transition: all 0.1s ease-in !important;
}

.fade-enter,
.fade-leave-active {
  opacity: 0 !important;
}

.collapse-enter-active {
  transition: all 0.2s ease-out !important;
}

.collapse-leave-active {
  transition: all 0.2s ease-in !important;
}

.collapse-enter,
.collapse-leave-active {
  max-height: 0 !important;
  margin-bottom: 0 !important;
}

.collapse-items-enter-active {
  transition: all 0.4s ease-in !important;
}

.collapse-items-leave-active {
  transition: all 0.4s ease-out !important;
}

.collapse-items-enter,
.collapse-items-leave-active {
  max-height: 0 !important;
  margin-bottom: 0 !important;
}
